.custom-grid {
    height: 40vh;
    width: 100%;
    margin-top:10px;

}

.custom-header {
    background-color: #0058a3;
    color: #ffcc00;
    font-weight: 500;
}

.custom-cell {
    font-weight: 500;
}

.history-button {
    background-color: #0058a3;
    color: #ffcc00;
    /* border: none; */
    padding: 0px 5px 35px 5px;
    cursor: pointer;
    font-size: 0.9rem;
    height: 22px;
    border-radius: 3px;
}

.history-button:hover {
    background-color: #004080;
}

/* 수정 이력 모달 스타일 */
#historyModal {
    display: none;
    position: fixed;
    top: 20%;
    left: 50%;
    transform: translate(-50%, -20%);
    background: white;
    padding: 1rem;
    /* border: 1px solid #ccc; */
    z-index: 50;
    box-shadow: 0 0 3px rgba(0, 0, 0, 0.3);
}

#historyModal pre {
    background: #f9f9f9;
    padding: 1rem;
    border: 1px solid #ccc;
    max-height: 400px;
    overflow-y: auto;
}

#charts {
    margin-top: 20px;
    display: flex;
    width: 100%;
    height: 360px;
}

#lineChart,
#pieChart {
    width: 100%;
    
    padding: 15px;
    margin: 0px 10px 0px 0px;
    border: 1px solid #ccc;
}