@import url('default.css');

.tab-hos {
    color: #555;
    /* padding:0.5rem; */
    border: 1px solid #efefef;
}

.drag-handle {
    display: inline-block;
    margin-top: 10px;
    cursor: move;
}

.tab-content {
    display: none;
}

.tab-content.active {
    display: block;
}

.chat-bot {
    position: fixed;
    bottom: 75px;
    right: 20px;
    width: 300px;
    max-height: 450px;
    background-color: white;
    /* border: 1px solid #ccc; */

    /* border-radius: 3px; */
    box-shadow: 1px 3px 5px rgba(0, 0, 0, 0.2);

    display: flex;
    flex-direction: column;
}

.chat-bot-header {
    background-color: #0058a3;
    color: white;

    padding: 6px;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
    text-align: center;
}

.chat-bot-messages {
    flex: 1;
    padding: 10px;
    overflow-y: auto;
}

.chat-bot-input {
    display: flex;
    border-top: 1px solid #ccc;
}

.chat-bot-input input {
    flex: 1;
    padding: 10px;
    border: none;
    border-bottom-left-radius: 10px;
}

.chat-bot-input button {
    background-color: #0058a3;
    color: white;
    border: none;
    /* padding: 10px;
    border-bottom-right-radius: 10px; */
    margin-left:2px;
    cursor: pointer;
    padding-top : "2px";
    padding-bottom : "16px";
}

.calendar {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    gap: 10px;
}

.calendar .day {
    background-color: #f3f4f6;
    border: 1px solid #e5e7eb;
    border-radius: 6px;
    padding: 10px;
    text-align: center;
}

.calendar .day .date {
    font-weight: bold;
}

.calendar .day .schedule {
    margin-top: 5px;
}

.calendar .day .schedule .working {
    color: green;
}

.calendar .day .schedule .vacation {
    color: red;
}