#hotel-container {
    display: flex;
    flex-direction: column;
    gap: 10px;
    overflow: hidden;
    width: 100%;
    margin-top: 1rem;
    ;
}

#control-panel {
    margin-bottom: 15px;
    display: flex;
    gap: 10px;
    align-items: center;
    background-color: #f9f9f9;
    padding: 15px;
    border: 1px solid #ccc;
    border-radius: 6px;
    width: 100%;
}

.floor {

    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 10px;
    height: calc(100vh - 200px);
}

.room {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    cursor: pointer;

    background-color: #0058a3;
    color: #ffcc00;

    border: 1px solid #ddd;
    border-radius: 6px;

    box-sizing: border-box;
    position: relative;

}

.room-title {
    flex: 0 0 15%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5px 0px 5px 0px;
    font-size: 1.1em;
}

.room-info {
    flex: 1;
    background-color: #ffffff;
    color: #333;
    padding: 10px;
    overflow: auto;
}



.modal-content {
    background: #fff;
    padding: 20px;
    border-radius: 6px;
    width: 400px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

/* .modal-content {
    background-color: #fff;
    padding: 20px;
    border-radius: 6px;
    width: 600px !important;
    height: 400px !important;
    display: flex;
    flex-direction: column;
} */

.modal-content label {
    display: block;
    margin: 10px 0 5px;
}

.modal-content input {
    width: 100%;
    padding: 8px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 3px;
}

.delete-button {
    position: absolute;
    top: 5px;
    right: 10px;
    color: white;
    padding: 2px 8px;
    cursor: pointer;
    border-radius: 3px;
    font-size: 12px;
}

.reservation-item {
    position: relative;
    margin-bottom: 10px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 6px;
    background-color: #f9f9f9;
}