/* Import External CSS */
@import url('../vendor/boxicons-2.1.4/css/boxicons.min.css');


@import url('https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css');
@import url('https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css');

@import url('https://uicdn.toast.com/tui.pagination/latest/tui-pagination.css');
@import url('https://uicdn.toast.com/tui-grid/latest/tui-grid.css');

@import url('https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.9/dist/web/variable/pretendardvariable.min.css');
@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css');

@import url('https://cdn.jsdelivr.net/npm/pikaday/css/pikaday.css');

@import url('default.css');




.tui-grid-header {
    background-color: var(--primary-color);
    color: var(--text-color);
    font-weight: bold;
    text-align: center;
    border-bottom: 2px solid var(--secondary-color);
    border-radius: 10px 10px 0 0;
    overflow: hidden;
    font-family: var(--font-family);
    /* font-family: "Pretendard Variable", Pretendard, -apple-system, BlinkMacSystemFont, system-ui, Roboto, "Helvetica Neue"; */
}

.tui-grid-cell {
    font-size: 15px;
    color: #333;
    font-family: var(--font-family);
    /* font-family: "Pretendard Variable", Pretendard, -apple-system, BlinkMacSystemFont, system-ui, Roboto, "Helvetica Neue"; */
}


.tui-grid-check-input,
input[type="checkbox"] {
    width: 18px;
    height: 18px;
}

.tui-grid-cell.tui-grid-cell-row-header,
.tui-grid-cell.tui-grid-cell-header {
    background-color: #e8eaee;
    color: #2c2c30;

}

/* 모든 행에 동일한 스타일 적용 */
.tui-grid-row {
    background-color: #fff !important;
    /* 기본 배경색 */
    border-bottom: 1px solid #8f8f8f !important;
    /* 기본 테두리 색 */
}

/* 마지막 행에 추가 스타일 적용 */
.tui-grid-row:last-child {
    background-color: #fff !important;
    /* 마지막 행의 배경색 */
    border-bottom: 1px solid #8f8f8f !important;
    /* 마지막 행의 테두리 색 */
}



.toast {
    position: fixed;
    top: 1rem;
    right: 1rem;
    min-width: 200px;
    padding: 1rem;
    border-radius: 5px;
    font-size: 14px;
    color: #fff;
    z-index: 1000;
    opacity: 0;
    transform: translateY(-20px);
    transition: opacity 0.3s, transform 0.3s;
}

.toast.show {
    opacity: 1;
    transform: translateY(0);
}

.toast-success {
    background-color: #38a169;
}

.toast-warning {
    background-color: #dd6b20;
}

.toast-info {
    background-color: #3182ce;
}

.toast-error {
    background-color: #e53e3e;
}

#modal>div {
    width: 90%;
    height: 90%;
    background-color: white;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    padding: 1rem;
    display: flex;
    flex-direction: column;
    overflow: auto;
}

#modal h2 {
    font-size: 1.5rem;
    font-weight: bold;
    margin-bottom: 1rem;
}

#modal p {
    flex-grow: 1;
    overflow: auto;
}

#modal button {
    align-self: flex-end;
}

.relative .fa-calendar-alt {
    pointer-events: none;
}

.cursor-not-allowed {
    cursor: not-allowed;
}

button {
    font-size: 15px;
}

input[type="text"],
input[type="date"] {
    padding: 5px;
    height: calc(1.5em + 6px);
}

/* body */

/* #offCanvas {
    box-shadow: 2px 0 5px rgba(0, 0, 0, 0.2);
} */

.content {
    margin-left: 20px;
}

#floatingNav button {
    transition: transform 0.2s ease;
}

#floatingNav button:hover {
    transform: scale(1.05);
}

#content {
    padding: 90px 40px 10px 70px;
    box-sizing: border-box;
}



@media (max-width: 1550px) {
    .flex-col {
        flex-direction: column;
    }

    .lg\:flex-row {
        flex-direction: row;
    }

    .lg\:mb-0 {
        margin-bottom: 0;
    }

    .lg\:space-y-0 {
        margin-bottom: 0;
    }

    .lg\:space-x-2>*+* {
        margin-left: 0.5rem;
    }

    .flex-col>div {
        padding: 10px 0;
    }
}

/* *************** */


@media (max-width: 1500px) {
    .flex2 {
        flex-wrap: wrap;
    }

    .flex2>div {
        width: 100%;
        /* 한 줄로 변경 */
        margin-bottom: 0.5rem;
        /* 각 행 간격 추가 */
    }

    .flex2>.flex-col {
        flex-direction: row;
        justify-content: space-between;
    }
}



