@import url('https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css');
@import url('../vendor/boxicons-2.1.4/css/boxicons.min.css');
@import url('https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css');

@import url('https://uicdn.toast.com/tui.pagination/latest/tui-pagination.css');
@import url('https://uicdn.toast.com/tui-grid/latest/tui-grid.css');

@import url('https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.9/dist/web/variable/pretendardvariable.min.css');
@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css');

@import url('https://cdn.jsdelivr.net/npm/pikaday/css/pikaday.css');

@import url('default.css');

.tui-grid-header {
    background-color: var(--primary-color);
    color: var(--text-color);
    font-weight: bold;
    text-align: center;
    border-bottom: 2px solid var(--secondary-color);
    border-radius: 10px 10px 0 0;
    overflow: hidden;
    font-family: var(--font-family);
}

.tui-grid-cell {
    font-size: 15px;
    color: #333;
    font-family: var(--font-family);
}

.tui-grid-check-input,
input[type="checkbox"] {
    width: 18px;
    height: 18px;
}

.tui-grid-cell.tui-grid-cell-row-header,
.tui-grid-cell.tui-grid-cell-header {
    background-color: #e8eaee;
    color: #2c2c30;
}


#modal>div {
    width: 90%;
    height: 90%;
    background-color: white;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    padding: 1rem;
    display: flex;
    flex-direction: column;
    overflow: auto;
}

#modal h2 {
    font-size: 1.5rem;
    font-weight: bold;
    margin-bottom: 1rem;
}

#modal p {
    flex-grow: 1;
    overflow: auto;
}

#modal button {
    align-self: flex-end;
}

.relative .fa-calendar-alt {
    pointer-events: none;
}








