.scrollbar-yellow::-webkit-scrollbar {
  width: 12px;
}

.scrollbar-yellow::-webkit-scrollbar-track {
  background: #f1f1f1;
}

.sortable:hover {
  cursor: pointer;
}

.editable {
  cursor: pointer;
}

.editable:hover {
  background-color: #f1f1f1;
}

.today-bg {
  background-color: #e0f7ff;
}

.today-text {
  color: #ff6600;
}