@import url('https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css');
@import url('../vendor/boxicons-2.1.4/css/boxicons.min.css');
@import url('https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css');
@import url('https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.9/dist/web/variable/pretendardvariable.min.css');
@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css');


@import url('default.css');

#modal>div {
    width: 90%;
    height: 90%;
    background-color: white;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    padding: 1rem;
    display: flex;
    flex-direction: column;
    overflow: auto;
}

#modal h2 {
    font-size: 1.5rem;
    font-weight: bold;
    margin-bottom: 1rem;
}

#modal p {
    flex-grow: 1;
    overflow: auto;
}

#modal button {
    align-self: flex-end;
}

.relative .fa-calendar-alt {
    pointer-events: none;
}



.time-select-icon {
    position: relative;
}

.time-select-icon::before {
    content: '\f017'; /* Unicode for Font Awesome clock icon */
    font-family: 'Font Awesome 5 Free'; /* Ensure Font Awesome is included */
    font-weight: 900;
    position: absolute;
    left: 10px; /* Adjust for padding */
    top: 50%;
    transform: translateY(-50%);
    color: #6b7280; /* Gray color */
    pointer-events: none; /* Ensure the icon doesn't interfere with interactions */
}

