.custom-grid {
    height: 40vh;
    width: 100%;
    
}

.custom-header {
    background-color: #0058a3;
    /* IKEA 블루 톤 */
    color: #ffc72c;
    /* IKEA 옐로우 톤 */
    font-weight: 500;


}

.custom-cell {

    font-weight: 500;

}

.custom-row:hover {
    background-color: #f5f5f5;
}

.history-button {
    background-color: #0058a3;
    /* IKEA 블루 톤 */
    color: #ffc72c;
    /* IKEA 옐로우 톤 */
    border: none;
    padding: 8px 8px 8px 8px;
    cursor: pointer;
    font-size: 0.9rem;
    height: 30px;
}

.history-button:hover {
    background-color: #004080;
    /* Darker blue on hover */
}

/* 수정 이력 모달 스타일 */
#historyModal {
    display: none;
    position: fixed;
    top: 20%;
    left: 50%;
    transform: translate(-50%, -20%);
    background: white;
    padding: 1rem;
    border: 1px solid #ccc;
    z-index: 1000;
}

#historyModal pre {
    background: #f9f9f9;
    padding: 1rem;
    border: 1px solid #ccc;
    max-height: 400px;
    overflow-y: auto;
}
#charts {
    margin-top: 20px;
    
    display: flex;
    width: 100%;
    height: 350px;
}
#lineChart, #pieChart {
    width: 100%;
    height: 100%;
    padding:10px;
    border: 1px solid #efefef;
}