@import url('https://uicdn.toast.com/tui.pagination/latest/tui-pagination.css');
@import url('https://uicdn.toast.com/tui-grid/latest/tui-grid.css');

@import url('default.css');

#panelContainer {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}
.panel {
    flex: 1;
    margin: 0 10px;
    padding: 10px;
    border: 1px solid #ddd;
    background-color: #f9f9f9;
}
#comparisonPanel {
    flex: 1.5; /* 가운데 패널을 더 넓게 */
}