* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  
/* Variables */
:root {
    --text-color: #ffffff;
    --border-color: #3b3b3f;
    --bg-light: #e8eaee;
    --bg-dark: #2d3748;
    --hover-bg: #4a5568;
    --font-family: "Pretendard Variable", Pretendard, -apple-system, BlinkMacSystemFont, system-ui, Roboto, "Helvetica Neue";
    --primary-color: #0058a3;
}

/* General */
body {
    font-family: var(--font-family);
    /* margin: 0;
    padding: 0;
    box-sizing: border-box; */
    scrollbar-color: #f1a815 transparent;
    scrollbar-width: thin;
}


input[type="text"],
input[type="date"] {
    padding: 5px;
    height: calc(1.5em + 6px);
}




/* content */
.content {
    margin-left: 20px;
}

#floatingNav button {
    transition: transform 0.2s ease;
}

#floatingNav button:hover {
    transform: scale(1.05);
}

#content {
    padding: 75px 40px 10px 70px;
    box-sizing: border-box;
}

.breadcrumb {
    font-size: 1.2rem;
    font-weight: bold;
}

/* OffCanvas - LNB */
.menu-text {
    font-size: 1rem;
    font-weight: 600;
}

.collapsed {
    width: 65px;
}

.collapsed .menu-text {
    display: none;
}

.collapsed .menu-icon {
    font-size: 22px;
    text-align: center;
}

#expandOffCanvas,
#collapseOffCanvas {
    position: absolute;
    bottom: 110px;
    right: 10px;
}

.collapsed #expandOffCanvas {
    display: block;
}

.collapsed #collapseOffCanvas {
    display: none;
}

.expanded #expandOffCanvas {
    display: none;
}

.expanded #collapseOffCanvas {
    display: block;
}

/* Menu Item */
.menu-item {
    display: flex;
    align-items: center;
    padding: 10px 0px;
    transition: all 0.3s ease;
}

.menu-item i {
    margin-right: 12px;
}

.collapsed .menu-item i {
    margin-right: 0;

}

/* GNB Menu */
.gnb-menu {
    height: 55px;
    background: linear-gradient(90deg, #1a202c, var(--bg-dark));
    padding: 0.5rem 1rem;
    display: flex;
    flex-direction: column;
}

/* GNB Item */
.gnb-item {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1rem;
    font-weight: 600;
    text-transform: uppercase;
    color: #c7ced9;
    padding: 0.5rem 1rem;
    border-radius: 0.375rem;
    transition: all 0.3s ease;
    position: relative;
    overflow: hidden;
}

.gnb-item i {
    font-size: 1rem;
    margin-right: 0.5rem;
    color: #718096;
    transition: color 0.3s ease;
}

.gnb-item:hover {
    background-color: #edf2f7;
    color: var(--bg-dark);
}

.gnb-item:hover i {
    color: var(--bg-dark);
}

.gnb-item.active {
    background-color: var(--primary-color);
    color: var(--text-color);
}

.gnb-item.active i {
    color: var(--text-color);
}

.gnb-item::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 50%;
    width: 0;
    height: 2px;
    background: var(--text-color);
    transition: all 0.3s ease-in-out;
    transform: translateX(-50%);
}

.gnb-item:hover::after {
    width: 80%;
}

/* Tabs */
.tabs {
    display: flex;
    gap: 25px;
}

.tabs li {
    margin-bottom: 10px;
    line-height: calc(1.5rem - 3px);
}

/* Member Icon */
#memberIcon {
    font-size: 1.2rem;
    background: var(--bg-dark);
    border-radius: 50%;
    padding: 0.4rem;
    transition: background 0.3s ease;
}

#memberIcon:hover {
    background: var(--hover-bg);
    color: var(--text-color);
}

/* Logo Text */
.logo-text {
    padding-left: 10px;
    color: var(--text-color);
    font-size: 1.5rem;
    font-weight: bold;
    line-height: 1;
    white-space: nowrap;
}

/* Menu Icon */
.menu-icon {
    transition: color 0.3s ease;
}

.menu-item:hover .menu-icon {
    color: var(--primary-color);
}

/* Language Switcher */
#languageSwitcher img {
    width: 32px;
    height: 32px;
    object-fit: cover;
    border-radius: 4px;
    border: 1px solid #ccc;
    cursor: pointer;
    transition: transform 0.2s ease-in-out;
}

#languageSwitcher img:hover {
    transform: scale(1.1);
}

/* Card Hover Effect */
.card:hover {
    transform: scale(1.05);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    transition: transform 0.3s, box-shadow 0.3s;
}

@media (max-width: 1550px) {
    .flex-col {
        flex-direction: column;
    }

    .lg\:flex-row {
        flex-direction: row;
    }

    .lg\:mb-0 {
        margin-bottom: 0;
    }

    .lg\:space-y-0 {
        margin-bottom: 0;
    }

    .lg\:space-x-2>*+* {
        margin-left: 0.5rem;
    }

    .flex-col>div {
        padding: 10px 0;
    }
}

@media (max-width: 1500px) {
    .flex2 {
        flex-wrap: wrap;
    }

    .flex2>div {
        width: 100%;
        /* 한 줄로 변경 */
        margin-bottom: 0.5rem;
        /* 각 행 간격 추가 */
    }

    .flex2>.flex-col {
        flex-direction: row;
        justify-content: space-between;
    }
}

.cursor-not-allowed {
    cursor: not-allowed;
}

.active-tab {
    background-color: #2563eb;
    color: #facc15 !important;
    font-weight: 600;
    font-size: 15px;
}

.fs-4 {
    font-size: 1rem;
}

.flex-1 {
    font-size: 14px;
}

.mt-1 {
    margin-top: 0.25rem;
    border: 1px solid #888;
}

/*-------------------------------------*/
/*                Alert                */
/*-------------------------------------*/
.alert {
    position: relative;
    padding: 0.75rem 1rem;
    border-radius: var(--border-radius);
  }
  
  .alert-dismissible {
    padding-right: 3rem;
  }
  
  .alert-dismissible .btn-close {
    position: absolute;
    top: 0;
    right: 0;
    z-index: var(--btn-close-z-index);
    padding: 0.95rem 1rem;
    background-size: 0.625rem 0.625rem;
  }
  
  .alert-primary {
    color: var(--primary-color);
    background-color: var(--primary-lightest-color);
  }
  
  .alert-primary .btn-close {
    background-image: url('data:image/svg+xml,<%3Fxml version="1.0" encoding="UTF-8" standalone="no"%3F><svg width="100" height="100" viewBox="0 0 100 99.999998" version="1.1" id="svg1" xmlns="http://www.w3.org/2000/svg" xmlns:svg="http://www.w3.org/2000/svg"><defs id="defs1" /><path d="M 87.501105,0 49.99558,37.5 12.498895,0 0,12.5 37.496685,50 0,87.5 12.498895,100 49.99558,62.5 87.501105,100 100,87.5 62.503315,50 100,12.5 Z" id="path1" style="fill:%236666ff;fill-opacity:1;stroke-width:8.83978" /></svg>');
  }
  
  .alert-secondary {
    color: var(--secondary-color);
    background-color: var(--secondary-lightest-color);
  }
  
  .alert-secondary .btn-close {
    background-image: url('data:image/svg+xml,<%3Fxml version="1.0" encoding="UTF-8" standalone="no"%3F><svg width="100" height="100" viewBox="0 0 100 99.999998" version="1.1" id="svg1" xmlns="http://www.w3.org/2000/svg" xmlns:svg="http://www.w3.org/2000/svg"><defs id="defs1" /><path d="M 87.501105,0 49.99558,37.5 12.498895,0 0,12.5 37.496685,50 0,87.5 12.498895,100 49.99558,62.5 87.501105,100 100,87.5 62.503315,50 100,12.5 Z" id="path1" style="fill:%23738296;fill-opacity:1;stroke-width:8.83978" /></svg>');
  }
  
  .alert-success {
    color: var(--success-color);
    background-color: var(--success-lightest-color);
  }
  
  .alert-success .btn-close {
    background-image: url('data:image/svg+xml,<%3Fxml version="1.0" encoding="UTF-8" standalone="no"%3F><svg width="100" height="100" viewBox="0 0 100 99.999998" version="1.1" id="svg1" xmlns="http://www.w3.org/2000/svg" xmlns:svg="http://www.w3.org/2000/svg"><defs id="defs1" /><path d="M 87.501105,0 49.99558,37.5 12.498895,0 0,12.5 37.496685,50 0,87.5 12.498895,100 49.99558,62.5 87.501105,100 100,87.5 62.503315,50 100,12.5 Z" id="path1" style="fill:%2376d846;fill-opacity:1;stroke-width:8.83978" /></svg>');
  }
  
  .alert-danger {
    color: var(--danger-color);
    background-color: var(--danger-lightest-color);
  }
  
  .alert-danger .btn-close {
    background-image: url('data:image/svg+xml,<%3Fxml version="1.0" encoding="UTF-8" standalone="no"%3F><svg width="100" height="100" viewBox="0 0 100 99.999998" version="1.1" id="svg1" xmlns="http://www.w3.org/2000/svg" xmlns:svg="http://www.w3.org/2000/svg"><defs id="defs1" /><path d="M 87.501105,0 49.99558,37.5 12.498895,0 0,12.5 37.496685,50 0,87.5 12.498895,100 49.99558,62.5 87.501105,100 100,87.5 62.503315,50 100,12.5 Z" id="path1" style="fill:%23ff3d1f;fill-opacity:1;stroke-width:8.83978" /></svg>');
  }
  
  .alert-warning {
    color: var(--warning-color);
    background-color: var(--warning-lightest-color);
  }
  
  .alert-warning .btn-close {
    background-image: url('data:image/svg+xml,<%3Fxml version="1.0" encoding="UTF-8" standalone="no"%3F><svg width="100" height="100" viewBox="0 0 100 99.999998" version="1.1" id="svg1" xmlns="http://www.w3.org/2000/svg" xmlns:svg="http://www.w3.org/2000/svg"><defs id="defs1" /><path d="M 87.501105,0 49.99558,37.5 12.498895,0 0,12.5 37.496685,50 0,87.5 12.498895,100 49.99558,62.5 87.501105,100 100,87.5 62.503315,50 100,12.5 Z" id="path1" style="fill:%23ffaa00;fill-opacity:1;stroke-width:8.83978" /></svg>');
  }
  
  .alert-info {
    color: var(--info-color);
    background-color: var(--info-lightest-color);
  }
  
  .alert-info .btn-close {
    background-image: url('data:image/svg+xml,<%3Fxml version="1.0" encoding="UTF-8" standalone="no"%3F><svg width="100" height="100" viewBox="0 0 100 99.999998" version="1.1" id="svg1" xmlns="http://www.w3.org/2000/svg" xmlns:svg="http://www.w3.org/2000/svg"><defs id="defs1" /><path d="M 87.501105,0 49.99558,37.5 12.498895,0 0,12.5 37.496685,50 0,87.5 12.498895,100 49.99558,62.5 87.501105,100 100,87.5 62.503315,50 100,12.5 Z" id="path1" style="fill:%2300d5ff;fill-opacity:1;stroke-width:8.83978" /></svg>');
  }
  
  .alert-light {
    color: var(--light-darkest-color);
    background-color: var(--light-lighter-color);
  }
  
  .alert-light .btn-close {
    background-image: url('data:image/svg+xml,<%3Fxml version="1.0" encoding="UTF-8" standalone="no"%3F><svg width="100" height="100" viewBox="0 0 100 99.999998" version="1.1" id="svg1" xmlns="http://www.w3.org/2000/svg" xmlns:svg="http://www.w3.org/2000/svg"><defs id="defs1" /><path d="M 87.501105,0 49.99558,37.5 12.498895,0 0,12.5 37.496685,50 0,87.5 12.498895,100 49.99558,62.5 87.501105,100 100,87.5 62.503315,50 100,12.5 Z" id="path1" style="fill:%23738296;fill-opacity:1;stroke-width:8.83978" /></svg>');
  }
  
  .alert-dark {
    color: var(--dark-color);
    background-color: var(--dark-lightest-color);
  }
  
  .alert-dark .btn-close {
    background-image: url('data:image/svg+xml,<%3Fxml version="1.0" encoding="UTF-8" standalone="no"%3F><svg width="100" height="100" viewBox="0 0 100 99.999998" version="1.1" id="svg1" xmlns="http://www.w3.org/2000/svg" xmlns:svg="http://www.w3.org/2000/svg"><defs id="defs1" /><path d="M 87.501105,0 49.99558,37.5 12.498895,0 0,12.5 37.496685,50 0,87.5 12.498895,100 49.99558,62.5 87.501105,100 100,87.5 62.503315,50 100,12.5 Z" id="path1" style="fill:%2329293d;fill-opacity:1;stroke-width:8.83978" /></svg>');
  }
  
  .alert-solid-primary {
    color: var(--white-color);
    background-color: var(--primary-color);
  }
  
  .alert-solid-secondary {
    color: var(--white-color);
    background-color: var(--secondary-color);
  }
  
  .alert-solid-success {
    color: var(--white-color);
    background-color: var(--success-color);
  }
  
  .alert-solid-danger {
    color: var(--white-color);
    background-color: var(--danger-color);
  }
  
  .alert-solid-warning {
    color: var(--white-color);
    background-color: var(--warning-color);
  }
  
  .alert-solid-info {
    color: var(--white-color);
    background-color: var(--info-color);
  }
  
  .alert-solid-light {
    color: var(--white-color);
    background-color: var(--light-color);
  }
  
  .alert-solid-dark {
    color: var(--white-color);
    background-color: var(--dark-color);
  }
  
  [class*=alert-solid-] .btn-close {
    background-image: url('data:image/svg+xml,<%3Fxml version="1.0" encoding="UTF-8" standalone="no"%3F><svg width="100" height="100" viewBox="0 0 100 99.999998" version="1.1" id="svg1" xmlns="http://www.w3.org/2000/svg" xmlns:svg="http://www.w3.org/2000/svg"><defs id="defs1" /><path d="M 87.501105,0 49.99558,37.5 12.498895,0 0,12.5 37.496685,50 0,87.5 12.498895,100 49.99558,62.5 87.501105,100 100,87.5 62.503315,50 100,12.5 Z" id="path1" style="fill:%23fff;fill-opacity:1;stroke-width:8.83978" /></svg>');
  }