* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


:root {
  --text-color: #ffffff;
  --border-color: #3b3b3f;
  --bg-light: #e8eaee;
  --bg-dark: #2d3748;
  --hover-bg: #4a5568;
  --font-family: "Pretendard Variable", Pretendard, -apple-system, BlinkMacSystemFont, system-ui, Roboto, "Helvetica Neue";
  --primary-color: #0058a3;
  --primary-lightest-color: hsl(240, 100%, 95%);
}

/* General */
body {
  font-family: var(--font-family);
  scrollbar-color: #f1a815 transparent;
  scrollbar-width: thin;
}


input[type="text"],
input[type="date"] {
  padding: 5px;
  height: calc(1.5em + 6px);
}

/* content */
.content {
  margin-left: 20px;
}

#floatingNav button {
  transition: transform 0.2s ease;
}

#floatingNav button:hover {
  transform: scale(1.05);
}

#content {
  padding: 75px 40px 10px 70px;
  box-sizing: border-box;
}

.breadcrumb {
  font-size: 1.2rem;
  font-weight: bold;
}

/* OffCanvas - LNB */
.menu-text {
  font-size: 1rem;
  font-weight: 600;
}

.collapsed {
  width: 65px;
}

.collapsed .menu-text {
  display: none;
}

.collapsed .menu-icon {
  font-size: 22px;
  text-align: center;
}

#expandOffCanvas,
#collapseOffCanvas {
  position: absolute;
  bottom: 110px;
  right: 10px;
}

.collapsed #expandOffCanvas {
  display: block;
}

.collapsed #collapseOffCanvas {
  display: none;
}

.expanded #expandOffCanvas {
  display: none;
}

.expanded #collapseOffCanvas {
  display: block;
}

/* Menu Item */
.menu-item {
  display: flex;
  align-items: center;
  padding: 10px 0px;
  transition: all 0.3s ease;
}

.menu-item i {
  margin-right: 12px;
}

.collapsed .menu-item i {
  margin-right: 0;

}

/* GNB Menu */
.gnb-menu {
  height: 55px;
  background: linear-gradient(90deg, #1a202c, var(--bg-dark));
  padding: 0.5rem 1rem;
  display: flex;
  flex-direction: column;
}

/* GNB Item */
.gnb-item {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1rem;
  font-weight: 600;
  text-transform: uppercase;
  color: #c7ced9;
  padding: 0.5rem 1rem;
  border-radius: 0.375rem;
  transition: all 0.3s ease;
  position: relative;
  overflow: hidden;
}

.gnb-item i {
  font-size: 1rem;
  margin-right: 0.5rem;
  color: #718096;
  transition: color 0.3s ease;
}

.gnb-item:hover {
  background-color: #edf2f7;
  color: var(--bg-dark);
}

.gnb-item:hover i {
  color: var(--bg-dark);
}

.gnb-item.active {
  background-color: var(--primary-color);
  color: var(--text-color);
}

.gnb-item.active i {
  color: var(--text-color);
}

.gnb-item::after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 50%;
  width: 0;
  height: 2px;
  background: var(--text-color);
  transition: all 0.3s ease-in-out;
  transform: translateX(-50%);
}

.gnb-item:hover::after {
  width: 80%;
}

/* Tabs */
.tabs {
  display: flex;
  gap: 25px;
}

.tabs li {
  margin-bottom: 10px;
  line-height: calc(1.5rem - 3px);
}

/* Member Icon */
#memberIcon {
  font-size: 1.2rem;
  background: var(--bg-dark);
  border-radius: 50%;
  padding: 0.4rem;
  transition: background 0.3s ease;
}

#memberIcon:hover {
  background: var(--hover-bg);
  color: var(--text-color);
}

/* Logo Text */
.logo-text {
  padding-left: 10px;
  color: var(--text-color);
  font-size: 1.5rem;
  font-weight: bold;
  line-height: 1;
  white-space: nowrap;
}

/* Menu Icon */
.menu-icon {
  transition: color 0.3s ease;
}

.menu-item:hover .menu-icon {
  color: var(--primary-color);
}

/* Language Switcher */
#languageSwitcher img {
  width: 32px;
  height: 32px;
  object-fit: cover;
  border-radius: 4px;
  border: 1px solid #ccc;
  cursor: pointer;
  transition: transform 0.2s ease-in-out;
}

#languageSwitcher img:hover {
  transform: scale(1.1);
}

/* Card Hover Effect */
.card:hover {
  transform: scale(1.05);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  transition: transform 0.3s, box-shadow 0.3s;
}

@media (max-width: 1550px) {
  .flex-col {
    flex-direction: column;
  }

  .lg\:flex-row {
    flex-direction: row;
  }

  .lg\:mb-0 {
    margin-bottom: 0;
  }

  .lg\:space-y-0 {
    margin-bottom: 0;
  }

  .lg\:space-x-2>*+* {
    margin-left: 0.5rem;
  }

  .flex-col>div {
    padding: 10px 0;
  }
}

@media (max-width: 1500px) {
  .flex2 {
    flex-wrap: wrap;
  }

  .flex2>div {
    width: 100%;
    /* 한 줄로 변경 */
    margin-bottom: 0.5rem;
    /* 각 행 간격 추가 */
  }

  .flex2>.flex-col {
    flex-direction: row;
    justify-content: space-between;
  }
}

.cursor-not-allowed {
  cursor: not-allowed;
}

.active-tab {

  background-color: #0058a3 !important;
  /* IKEA 블루 톤 */
  color: #ffc72c !important;
  /* IKEA 옐로우 톤 */

  font-weight: 600;
  font-size: 15px;
}

.fs-4 {
  font-size: 1rem;
}

.flex-1 {
  font-size: 14px;
}

.mt-1 {
  margin-top: 0.25rem;
  border: 1px solid #888;
}



/* DropDown */
.dropdown {
  position: absolute;
  top: 15px;
  right: 70px;

}

.dropdown-toggle::after {
  display: none;
}

.dropdown-toggle {
  color: #ffcc00;
  font-size: 1.4rem;
  cursor: pointer;
  background: none;
  border: none;
}

.dropdown-menu {
  position: absolute;
  top: 30px;
  right: 90px;
  display: none;
  overflow: hidden;
  color: #313029;
  background-color: white;
  box-shadow: 0 0.25rem 0.75rem 0.2rem rgba(34, 48, 62, 0.14);
  z-index: 50;
  width: 200px;
}

.dropdown-menu.show {
  display: block;
}

.dropdown-menu-end {
  right: 0;
  left: auto;
}

.dropdown-item {
  display: block;
  width: 100%;
  white-space: nowrap;
  padding: 0.5rem 3rem 0.5rem 1.5rem;
  cursor: pointer;
}

.dropdown-shortcuts-item {
  cursor: pointer;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 1rem;

}

.toast {
  position: fixed;
  top: 1rem;
  right: 1rem;
  min-width: 200px;
  padding: 1rem;
  border-radius: 5px;
  font-size: 14px;
  color: #fff;
  z-index: 1000;
  opacity: 0;
  transform: translateY(-20px);
  transition: opacity 0.3s, transform 0.3s;
}

.toast.show {
  opacity: 1;
  transform: translateY(0);
}

.toast-success {
  background-color: #38a169;
}

.toast-warning {
  background-color: #dd6b20;
}

.toast-info {
  background-color: #0058a3;
  /* IKEA 블루 톤 */
  color: #ffc72c;
  /* IKEA 옐로우 톤 */
}

.toast-error {
  background-color: #e53e3e;
}

/* 모든 행에 동일한 스타일 적용 */
.tui-grid-row {
  background-color: #fff !important;
  /* 기본 배경색 */
  border-bottom: 1px solid #0058a3 !important;
  /* 기본 테두리 색 */
}

/* 마지막 행에 추가 스타일 적용 */
.tui-grid-row:last-child {
  background-color: #fff !important;
  /* 마지막 행의 배경색 */
  border-bottom: 1px solid #8f8f8f !important;
  /* 마지막 행의 테두리 색 */
}

#modal>div {
  width: 90%;
  height: 90%;
  background-color: white;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  padding: 1rem;
  display: flex;
  flex-direction: column;
  overflow: auto;
}

#modal h2 {
  font-size: 1.5rem;
  font-weight: bold;
  margin-bottom: 1rem;
}

#modal p {
  flex-grow: 1;
  overflow: auto;
}

#modal button {
  align-self: flex-end;
}

.relative .fa-calendar-alt {
  pointer-events: none;
}