/* Variables */
:root {

    --text-color: #ffffff;
    --border-color: #3b3b3f;
    --bg-light: #e8eaee;
    --bg-dark: #2d3748;
    --hover-bg: #4a5568;
    --font-family: "Pretendard Variable", Pretendard, -apple-system, BlinkMacSystemFont, system-ui, Roboto, "Helvetica Neue";
}

/* General */
body {
    font-family: var(--font-family);
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scrollbar-color: #134139 transparent;
    scrollbar-width: thin;
}

/* .breadcrumb-container {
    margin-top: -10px;
} */

.breadcrumb {
    font-size: 1.1rem;
    font-weight: bold;
}
