/* Variables */
:root {
    --text-color: #ffffff;
    --border-color: #3b3b3f;
    --bg-light: #e8eaee;
    --bg-dark: #2d3748;
    --hover-bg: #4a5568;
    --font-family: "Pretendard Variable", Pretendard, -apple-system, BlinkMacSystemFont, system-ui, Roboto, "Helvetica Neue";
    --primary-color: #0058a3;
}

/* General */
body {
    font-family: var(--font-family);
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scrollbar-color: #134139 transparent;
    scrollbar-width: thin;
}

.breadcrumb {
    font-size: 1.1rem;
    font-weight: bold;
}

/* OffCanvas - LNB */
.menu-text {
    font-weight: 600;
    font-size: 17px;
}

.collapsed {
    width: 65px;
}

.collapsed .menu-text {
    display: none;
}

.collapsed .menu-icon {
    font-size: 22px;
    text-align: center;
}

#expandOffCanvas,
#collapseOffCanvas {
    position: absolute;
    bottom: 110px;
    right: 10px;
}

.collapsed #expandOffCanvas {
    display: block;
}

.collapsed #collapseOffCanvas {
    display: none;
}

.expanded #expandOffCanvas {
    display: none;
}

.expanded #collapseOffCanvas {
    display: block;
}

/* Menu Item */
.menu-item {
    display: flex;
    align-items: center;
    padding: 10px 0;
    transition: all 0.3s ease;
}

.menu-item i {
    margin-right: 10px;
}

.collapsed .menu-item i {
    margin-right: 0;
}

/* GNB Menu */
.gnb-menu {
    height: 55px;
    background: linear-gradient(90deg, #1a202c, var(--bg-dark));
    padding: 0.5rem 1rem;
    display: flex;
    flex-direction: column;
}

/* GNB Item */
.gnb-item {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1rem;
    font-weight: 600;
    text-transform: uppercase;
    color: #c7ced9;
    padding: 0.5rem 1rem;
    border-radius: 0.375rem;
    transition: all 0.3s ease;
    position: relative;
    overflow: hidden;
}

.gnb-item i {
    font-size: 1rem;
    margin-right: 0.5rem;
    color: #718096;
    transition: color 0.3s ease;
}

.gnb-item:hover {
    background-color: #edf2f7;
    color: var(--bg-dark);
}

.gnb-item:hover i {
    color: var(--bg-dark);
}

.gnb-item.active {
    background-color: var(--primary-color);
    color: var(--text-color);
}

.gnb-item.active i {
    color: var(--text-color);
}

.gnb-item::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 50%;
    width: 0;
    height: 2px;
    background: var(--text-color);
    transition: all 0.3s ease-in-out;
    transform: translateX(-50%);
}

.gnb-item:hover::after {
    width: 80%;
}

/* Tabs */
.tabs {
    display: flex;
    gap: 25px;
}

.tabs li {
    margin-bottom: 10px;
    line-height: calc(1.5rem - 3px);
}

/* Member Icon */
#memberIcon {
    font-size: 1.2rem;
    background: var(--bg-dark);
    border-radius: 50%;
    padding: 0.4rem;
    transition: background 0.3s ease;
}

#memberIcon:hover {
    background: var(--hover-bg);
    color: var(--text-color);
}

/* Logo Text */
.logo-text {
    padding-left: 10px;
    color: var(--text-color);
    font-size: 1.5rem;
    font-weight: bold;
    line-height: 1;
    white-space: nowrap;
}

/* Menu Icon */
.menu-icon {
    transition: color 0.3s ease;
}

.menu-item:hover .menu-icon {
    color: var(--primary-color);
}

/* Language Switcher */
#languageSwitcher img {
    width: 32px;
    height: 32px;
    object-fit: cover;
    border-radius: 4px;
    border: 1px solid #ccc;
    cursor: pointer;
    transition: transform 0.2s ease-in-out;
}

#languageSwitcher img:hover {
    transform: scale(1.1);
}

/* Card Hover Effect */
.card:hover {
    transform: scale(1.05);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    transition: transform 0.3s, box-shadow 0.3s;
}
