@import url('https://uicdn.toast.com/tui.pagination/latest/tui-pagination.css');
@import url('https://uicdn.toast.com/tui-grid/latest/tui-grid.css');
@import url('../vendor/tailwind/css/tailwind.min.css');
@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css');
@import url('https://cdn.jsdelivr.net/npm/pikaday/css/pikaday.css');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@400;700&display=swap');

/* CSS Variables */
:root {
  --text-color: #ffffff;
  --border-color: #8a8a8a;
  --bg-light: #e8eaee;
  --bg-dark: #2d3748;
  --hover-bg: #4a5568;
  --font-family: "Noto Sans", sans-serif;
  --primary-color: #0058a3;
  --primary-lightest-color: hsl(240, 100%, 95%);
  --scrollbar-color: hsl(240, 25%, 100%);
  --scrollbar-thumb-color: #ffcc00;
  --gnb-height: 55px;
  --gnb-item-color: #c7ced9;
  --gnb-item-font-size: 1rem;
  --gnb-item-font-weight: 600;
  --gnb-item-padding: 0.5rem 1rem;

  --input-color: #333;
}

/* General Styles */
body {
  font-family: var(--font-family);
  color:var(--input-color);
  scrollbar-color: var(--scrollbar-thumb-color) transparent;
  scrollbar-width: thin;
}




/* main content */
#content {
  margin-left: 20px;
  padding: 75px 30px 0px 70px;
  /* box-sizing: border-box; */
}


#floatingNav button {
  transition: transform 0.2s ease;
}

#floatingNav button:hover {
  transform: scale(1.05);
}

/* title */
.breadcrumb {
  font-size: 1.1rem;
  font-weight: bold;
  color: var(--primary-color);
  text-transform: uppercase;
  /* letter-spacing: 2px; */
  /* padding: 0px 0px 10px 0px; */
}

/* OffCanvas - LNB */
.menu-text {
  font-size: 0.9rem;
  font-weight: 600;
}

.collapsed {
  width: 65px;
}

.collapsed .menu-text {
  display: none;
}

.collapsed .menu-icon {
  font-size: 22px;
  text-align: center;
}

#expandOffCanvas,
#collapseOffCanvas {
  position: absolute;
  bottom: 110px;
  right: 10px;
}

.collapsed #expandOffCanvas {
  display: block;
}

.collapsed #collapseOffCanvas {
  display: none;
}

.expanded #expandOffCanvas {
  display: none;
}

.expanded #collapseOffCanvas {
  display: block;
}

/* Menu Item */
.menu-item {
  display: flex;
  align-items: center;
  padding: 10px 0px;
  transition: all 0.3s ease;
}

.menu-item i {
  margin-right: 12px;
}

.collapsed .menu-item i {
  margin-right: 0;
}

/* GNB Menu */
.gnb-menu {
  height: var(--gnb-height);
  background: var(--bg-dark);
  padding: var(--gnb-item-padding);
  display: flex;
  flex-direction: column;

  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 49;

}

/* GNB Item */
.gnb-item {
  display: flex;
  font-size: var(--gnb-item-font-size);
  font-weight: var(--gnb-item-font-weight);
  text-transform: uppercase;
  color: var(--gnb-item-color);
  padding: var(--gnb-item-padding);
  border-radius: 0.375rem;
  transition: all 0.3s ease;
  position: relative;
  overflow: hidden;
}

.gnb-item i {
  font-size: 1rem;
  margin-right: 0.6rem;
  color: #718096;
  transition: color 0.3s ease;
}

.gnb-item:hover {
  background-color: #edf2f7;
  color: var(--bg-dark);
}

.gnb-item:hover i {
  color: var(--bg-dark);
}

.gnb-item.active {
  background-color: var(--primary-color);
  color: var(--text-color);
}

.gnb-item.active i {
  color: var(--text-color);
}

.gnb-item::after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 50%;
  width: 0;
  height: 2px;
  background: var(--text-color);
  transition: all 0.3s ease-in-out;
  transform: translateX(-50%);
}

.gnb-item:hover::after {
  width: 80%;
}

/* Tabs */
.tabs {
  display: flex;
  gap: 25px;

}

.tabs li {
  margin-bottom: 10px;
  line-height: calc(1.5rem - 3px);
}

/* Member Icon */
#memberIcon {
  position: absolute;
  right: 20px;
  top: 2px;
  font-size: 1.25rem;
  background: var(--bg-dark);
  border-radius: 50%;
  /* padding: 0.4rem; */
  transition: background 0.3s ease;
  cursor: pointer;
}

#memberIcon:hover {
  background: var(--hover-bg);
  color: var(--text-color);
}

/* Logo Text */
.logo-text {
  color: var(--text-color);
  font-size: 1.4rem;
  font-weight: bold;
}

/* Menu Icon */
.menu-icon {
  transition: color 0.3s ease;
}

.menu-item:hover .menu-icon {
  color: var(--primary-color);
}

/* Language Switcher */
#languageSwitcher img {
  width: 32px;
  height: 32px;
  object-fit: cover;
  border-radius: 4px;
  border: 1px solid #ccc;
  cursor: pointer;
  transition: transform 0.2s ease-in-out;
}

#languageSwitcher img:hover {
  transform: scale(1.1);
}

/* Card Hover Effect */
.card {
  flex: 1 1 calc(25% - 1rem);
  box-shadow: 0 0px 3x rgba(0, 0, 0, 0.3);
  border-radius: 0.5rem;
  padding: 1.5rem;

  border: 1px solid #999;
  display: flex;
  justify-content: space-between;
}

.card:hover {
  /* transform: scale(1.05); */
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.4);
  transition: transform 0.3s, box-shadow 0.3s;
}

/* Media Queries */
@media (max-width: 1550px) {
  .flex-col {
    flex-direction: column;
  }

  .lg\:flex-row {
    flex-direction: row;
  }

  .lg\:mb-0 {
    margin-bottom: 0;
  }

  .lg\:space-y-0 {
    margin-bottom: 0;
  }

  .lg\:space-x-2>*+* {
    margin-left: 0.5rem;
  }

  .flex-col>div {
    padding: 10px 0;
  }
}

@media (max-width: 1500px) {
  .flex2 {
    flex-wrap: wrap;
  }

  .flex2>div {
    width: 100%;
    margin-bottom: 0.5rem;
  }

  .flex2>.flex-col {
    flex-direction: row;
    justify-content: space-between;
  }
}

/* Utility Classes */
.cursor-not-allowed {
  cursor: not-allowed;
}

.active-tab {
  background-color: var(--primary-color) !important;
  color: #ffcc00 !important;
  font-weight: 600;
  font-size: 1rem;
}

.fs-4 {
  font-size: 1rem;
}

.mt-1 {
  margin-top: 0.25rem;
  border: 1px solid #888;
}

/* DropDown */
.dropdown {
  position: absolute;
  top: 15px;
  right: 75px;
  
}

.dropdown-toggle::after {
  display: none;
}

.dropdown-toggle {
  display: flex;
  align-items: center;
  justify-content: center;
  color: #ffcc00;
  font-size: 1.475rem;
  cursor: pointer;
  background: none;
  border: none;
}

.dropdown-header {
  padding: 1rem 1rem 1rem 1.5rem;
}

.dropdown-menu {
  position: absolute;
  top: 30px;
  right: 90px;
  display: none;
  overflow: hidden;
  color: var(--input-color) !important;
  background-color: white;
  box-shadow: 0 0 3px rgba(0, 0, 0, 0.3);
  transition: transform 0.3s, box-shadow 0.3s;
  z-index: 50;
  width: 200px;
}

.dropdown-menu.show {
  display: block;
}

.dropdown-menu-end {
  right: 0;
  left: auto;
}

.dropdown-item {
  display: block;
  width: 100%;
  white-space: nowrap;
  padding: 0.5rem 3rem 0.5rem 1.5rem;
  cursor: pointer;
}

.dropdown-shortcuts-item {
  cursor: pointer;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 1rem;
  border: 1px solid #ddd;
  font-size: 0.9rem;
  font-weight: bold;
  color: var(--primary-color);
}

.dropdown-shortcuts-icon {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 3rem;
  height: 3rem;
  color: var(--secondary-color);
  background-color: hsl(220, 9%, 94%);
  border-radius: 50%;
  margin-bottom: 0.5rem;
}

.border-bottom {
  border-bottom: 1px solid var(--border-color);
}

/* Toast */
.toast {
  position: fixed;
  top: 10px;
  right: 10px;
  min-width: 250px;
  padding: 1rem;
  border-radius: 6px;
  font-size: 1rem;
  color: #fff;
  z-index: 99;
  opacity: 0;
  transform: translateY(-20px);
  transition: opacity 0.3s, transform 0.3s;
}

.toast.show {
  opacity: 1;
  transform: translateY(0);
}

.toast-success {
  background-color: #38a169;
}

.toast-warning {
  background-color: #dd6b20;
}

.toast-info {
  background-color: var(--primary-color);
  color: #ffcc00;
}

.toast-error {
  background-color: #e53e3e;
}

/* TUI Grid */
.tui-grid-cell.tui-grid-cell-row-header,
.tui-grid-cell.tui-grid-cell-header {
  background-color: var(--bg-light) !important;
  color: var(--input-color) !important;
}

.tui-grid-row {
  background-color: #fff !important;
  border-bottom: 1px solid var(--primary-color) !important;
}

.tui-grid-header {
  background: var(--primary-color) !important;
  color: #ffcc00 !important;
  /* font-weight: bold; */
  text-align: center;
  border-bottom: 2px solid var(--secondary-color);
  border-radius: 10px 10px 0 0;
  overflow: hidden;
  font-family: var(--font-family) !important;
}

.tui-grid-cell {
  font-size: 0.9rem !important;
  color: var(--input-color);
  font-family: var(--font-family);
}

.tui-grid-check-input,
input[type="checkbox"] {
  width: 18px;
  height: 18px;
}

.tui-grid-row:last-child {
  background-color: #fff !important;
  border-bottom: 1px solid #8f8f8f !important;
}

/* Modal */
.modal {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 51;
}

#modal>div {
  width: 90%;
  height: 90%;
  background-color: white;
  border-radius: 8px;
  /* box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); */
  padding: 1rem;
  display: flex;
  flex-direction: column;
  overflow: auto;
}

#modal h2 {
  font-size: 1.5rem;
  font-weight: bold;
  margin-bottom: 1rem;
}

#modal p {
  flex-grow: 1;
  overflow: auto;
}

/* #modal button {
  align-self: flex-end;
} */

.relative .fa-calendar-alt {
  pointer-events: none;
}



.bg-blue-500 {
  background-color: var(--primary-color) !important;
}

/* .shadow-lg {
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.3);
}*/

/* tailwind overload */
.shadow-md {
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.3);
}

.dragging {
  opacity: 0.5;
}

.close {
  position: absolute;
  top: 10px;
  right: 15px;
  font-size: 1.6rem;
  cursor: pointer;
}

/* calendar , trello */
.time-select-icon {
  position: relative;
}

.time-select-icon::before {
  content: '\f017';
  font-family: 'Font Awesome 5 Free';
  font-weight: 900;
  position: absolute;
  left: 10px;
  top: 50%;
  transform: translateY(-50%);
  color: var(--input-color);
  pointer-events: none;

}

/* drag and drop */
.draggable {
  cursor: grab;
}

.droppable {
  border: 2px dashed #ccc;
}

/* grid */
.grid-container {
  
  background-color: #fefefe;
  padding: 20px;
  border-radius: 6px;
  box-shadow: 0 0 3px rgba(0, 0, 0, 0.3);
}

.hidden {
  display: none;
}

/* status */
.inProgress {
  border-color: var(--primary-color);
}

.pending {
  border-color: #ffcc00;
  /* yellow */
}

.risk {
  border-color: #ef4444;
  /* red */
}

.success {
  border-color: #10b981;
  /* green */
}

.fail {
  color: var(--input-color);
}

/* badge */
.badge {
  position: absolute;
  top: 5px;
  left: 10px;
  background-color:var(--primary-color) !important;
  color: white;
  padding: 3px 8px;
  border-radius: 3px;
  font-size: 12px;
  cursor: pointer;
  z-index: 10;
}

.badge:hover {
  background-color: #003693;
}

.ikea-yellow-border {
  border-color: #ffcc00;
}

.normal-ddd-border {
  border: 1px solid #ddd;
}

/* default html component */


select {
  width: 150px;
  padding: 3px;
  font-size: 1rem;
  border: 1px solid var(--primary-color) !important;
  border-radius: 3px;
  background-color: white;
  color: var(--input-color);
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  height: calc(1.5em + 6px);
}

input[type="text"],
input[type="password"],
input[type="time"],
input[type="number"],
input[type="month"],
input[type="date"]
{
  border: 1px solid var(--primary-color) !important;
  height: calc(1.5rem + 6px);
  padding-left: .35rem;
  padding-right: .75rem;
  padding-top: .35rem;
  padding-bottom: .35rem;
  border-radius: .25rem;
}

input[type="submit"],
button[type="submit"],
button[type="button"],
input[type="button"]
{
  border: 1px solid var(--primary-color) !important;
  height: calc(1.5rem + 6px);
  padding-left: .75rem;
  padding-right: .75rem;
  padding-top: .15rem;
  padding-bottom: .45rem;
  border-radius: .25rem;
}

/* input[type="button"] {
  background-color: var(--primary-color) !important;
  color: #ffcc00 !important;
  border: none !important;
  cursor: pointer !important;
  border-radius: 3px;
  height: calc(1.5em + 6px);
  padding: 3px 6px 3px 6px;
} */

textarea {
  padding: 2px;
  font-size: .95rem;
  border: 1px solid var(--primary-color) !important;
  border-radius: 3px;
  background-color: white;
  color: var(--input-color);
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
}

label{
  font-size: .95rem;
  line-height: 1.25rem;
  color: #333;
}

/* input[type="text"]:focus,
textarea:focus,
input[type="date"]:focus {
  border-color: #ffcc00;
} */

.sortable:hover {
  cursor: pointer;
}

.editable {
  cursor: pointer;
}

.editable:hover {
  background-color: #f1f1f1;
}

/* city.html 용도 */
#panelContainer {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}

.panel {
  flex: 1;
  margin: 0 10px;
  padding: 10px;
  border: 1px solid #ddd;
  background-color: #f9f9f9;
}

#comparisonPanel {
  flex: 1.5;
  /* 가운데 패널을 더 넓게 */
}

/* total */
.summary-row {
  font-weight: bold;
  background-color: #e1e1e1 !important;
  background: #e1e1e1 !important;
}

.tui-grid-summary-area {
  position: sticky;
  bottom: 0;
  z-index: 20;
  background: #e1e1e1 !important;
  background-color: #e1e1e1 !important;
}

/* calnedar */
.day-header {
  border: 1px solid #0058A3;
  color: #0058A3;
  text-transform: uppercase;
  padding: 5px;
  border-radius: 6px;
  margin: 3px 5px 3px 5px;
}

/* .d-flex {
  display: flex;
} */

.align-items-center {
  align-items: center;
}

.justify-content-between {
  justify-content: space-between;
}

/* Handsontable 기본 컨테이너 */
.handsontable {
  z-index: 41 !important;
}

/* Handsontable의 헤더 */
.ht_clone_top,
.ht_clone_left,
.ht_clone_top_left_corner {
  z-index: 41 !important;
}

/* Handsontable 컨텍스트 메뉴 */
.htContextMenu {
  z-index: 41 !important;
}

/* Handsontable 셀 편집기 */
.handsontable .ht_editor {
  z-index: 41 !important;
}

/* Handsontable 툴팁 */
.handsontable .htTooltip {
  z-index: 41 !important;
}
