
.dropdown {
    position: absolute;
    top: 15px;
    right: 70px;

}

.dropdown-toggle::after {
    display: none;
}

.dropdown-toggle {
    color: #ffcc00;
    font-size: 1.4rem;
    cursor: pointer;
    background: none;
    border: none;
}

.dropdown-menu {
    position: absolute;
    top: 30px;
    right: 90px;
    display: none;
    overflow: hidden;
    color: #313029;
    background-color: white;
    box-shadow: 0 0.25rem 0.75rem 0.2rem rgba(34, 48, 62, 0.14);
    z-index: 50;
    width:200px;
}

.dropdown-menu.show {
    display: block;
}

.dropdown-menu-end {
    right: 0;
    left: auto;
}

.dropdown-item {
    display: block;
    width: 100%;
    white-space: nowrap;
    padding: 0.5rem 3rem 0.5rem 1.5rem;
    cursor: pointer;
}

.dropdown-shortcuts-item {
    cursor: pointer;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 1rem;

}