
        .main-layout {
            height: 100vh;
            width: 100%;
            overflow-y: auto;
            scrollbar-color: #817f7f transparent;
            scrollbar-width: thin;
        }

        /* GNB 메뉴 스타일 */
        .gnb-menu {

            height: 55px;
            box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
            background: linear-gradient(90deg, #1a202c, #2d3748);
            flex-direction: column;
            padding: 0;

        }

        .gnb-menu ul {
            list-style-type: none;
            padding: 0;
        }


        .gnb-menu a {
            color: white;
            text-decoration: none;
            display: block;
        }



        /* 각 메뉴 아이템 */
        .gnb-item {
            font-size: 1.2rem;
            /* 폰트 크기 */
            font-weight: 600;
            /* 굵은 텍스트 */
            text-transform: uppercase;
            /* 대문자 변환 */
            color: #cbd5e0;
            /* 기본 글자 색상 */
            padding: 0.75rem 1.5rem;
            /* 내부 여백 */
            text-align: center;
            border-radius: 5px;
            /* 약간의 둥근 모서리 */
            transition: all 0.3s ease;
            /* 부드러운 전환 */
            position: relative;
            overflow: hidden;
        }

        /* 호버 효과: 밑줄 애니메이션 */
        .gnb-item:hover {
            color: #ffffff;
            /* 호버 시 글자색 변경 */
            background: #4a5568;
            /* 배경색 변경 */
            box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
            /* 살짝 떠보이게 */
        }

        .gnb-item::after {
            content: '';
            position: absolute;
            bottom: 0;
            left: 50%;
            width: 0;
            height: 2px;
            background: #fff;
            /* 밑줄 색상 */
            transition: all 0.3s ease-in-out;
            transform: translateX(-50%);
        }

        .gnb-item:hover::after {
            width: 80%;
            /* 호버 시 밑줄 확장 */
        }

        /* 멤버 아이콘 스타일 */
        #memberIcon {
            font-size: 1.5rem;
            background: #2d3748;
            border-radius: 50%;
            padding: 0.5rem;
            transition: background 0.3s ease;
        }

        #memberIcon:hover {
            background: #4a5568;
            color: #fff;
        }



        .logo-text {
            padding-left: 10px;
            color: white;
            /* 텍스트 색상 */
            font-size: 1.5rem;
            /* 텍스트 크기 */
            font-weight: bold;
            /* 텍스트 두께 */
            line-height: 1;
            /* 텍스트 수직 중앙 정렬 */
            white-space: nowrap;
            /* 줄바꿈 방지 */
        }
  