.sidebar {
   position: fixed;
   top: 0;
   left: 0;
   z-index: 1000;
   width: 230px;
   height: 100%;
   background: var(--white-color);
   box-shadow: 0.2rem 0 0.5rem 0 hsla(210, 30%, 20%, 0.1);
   transition: transform 0.6s ease;
   transform: translateX(0%);
}


.sidebar .app-brand {
   display: flex;
   align-items: center;
   justify-content: space-between;
   width: 104%;
   margin-top: 1rem;
   padding: 0.7rem 0 0 1.1rem;
   transition: 0.3s ease;
}

body.sidebar-hidden .sidebar .app-brand {
   display: none;
}

.sidebar .app-logo {
   display: flex;
   align-items: center;
   gap: 0.5rem;
   text-decoration: none;
}

.sidebar .app-logo .logo-image {
   height: 32px;
   cursor: pointer;
}

.sidebar .app-logo .logo-text {
   color: var(--heading-color);
}



body.sidebar-hidden .sidebar {
   width: 0;
   padding: 0;
}


.sidebar .sidebar-toggle {
   color: var(--white-color);
   background-color: var(--primary-color);
   border-radius: 50%;
   position: relative;


}

.sidebar .sidebar-toggle i {
   width: 1.5rem;
   height: 1.5rem;
   display: flex;
   align-items: center;
   justify-content: center;
   font-size: 1.5rem;
   /* 아이콘 크기 */
}

.sidebar .sidebar-toggle i::after {
   content: "";
   position: absolute;
   width: 1.5rem;
   height: 1.5rem;
   border-radius: 50%;
   box-shadow: 0 0 0 7px var(--body-bg);
}

/* Collapsed Sidebar Styles */
.sidebar.collapsed {
   width: 65px;
   overflow: hidden;
}

.sidebar.collapsed .sidebar-toggle {
   color: var(--white-color);
   background-color: var(--primary-color);
   border-radius: 50%;
   position: absolute;
   top: 90px;
   padding-left: 5px;

}

.sidebar.collapsed .sidebar-toggle i {
   width: 1.5rem;
   height: 1.5rem;
   display: flex;
   align-items: center;
   justify-content: center;
   font-size: 1.5rem;
   /* 아이콘 크기 */
}

.sidebar.collapsed .sidebar-toggle i::after {
   content: "";
   position: absolute;
   width: 1.5rem;
   height: 1.5rem;
   border-radius: 50%;
   box-shadow: 0 0 0 8px var(--body-bg);
}

.sidebar.collapsed .menu-item span,
.sidebar.collapsed .app-brand h6,
.sidebar.collapsed .logo-text {
   display: none;
}

.sidebar.collapsed .menu-item i {
   margin: 0 auto;
   /* 아이콘 중앙 정렬 */
}

.app-brand {
   margin-bottom: 2rem;
}

.app-brand .app-brand-link {
   display: flex;
   align-items: center;
   justify-content: center;
   gap: 0.5rem;
}

.app-brand .app-brand-link .logo-image {
   height: 35px;
}

.app-brand .app-brand-link .logo-text {
   color: var(--heading-color);
   font-weight: 600;
}

.menu {
   position: relative;
   overflow-y: auto;
   scrollbar-width: thin;
   height: calc(100vh - 100px);
   scrollbar-color: transparent transparent;
   margin-top: 30px;
}

.sidebar.collapsed .menu {
   position: relative;
   overflow-y: auto;
   scrollbar-width: thin;
   height: calc(100vh - 100px);
   scrollbar-color: transparent transparent;
   margin-top: 70px;
}

.menu:hover {
   scrollbar-color: var(--scrollbar-color);
}

.menu-header {
   margin: 0;
   padding: 1rem 1.5rem;
}

.menu-header .menu-header-text {
   font-size: 0.8rem;
   font-weight: 400;
   text-transform: uppercase;
   white-space: nowrap;
   color: var(--secondary-dark-color);
}

.menu-link {
   display: flex;
   align-items: center;
   white-space: nowrap;
   gap: 0.5rem;
   font-size: 1rem;
   padding: 0.5rem 0.5rem;
   margin: 0 0.5rem 0 1rem;
   color: var(--heading-color);
   border-radius: var(--border-radius);
}

.menu-link:hover {
   color: var(--heading-color);
   background-color: hsla(210, 29%, 19%, 0.06);
}

.menu>.menu-item.active>.menu-link {
   color: var(--primary-color);
   background-color: var(--primary-lightest-color);
}

.menu-toggle::after {
   position: absolute;
   content: "\ea50";
   right: 6%;
   display: block;
   font-family: "boxicons";
   font-size: 1.375rem;
   transform: translateY(5%);
   transition: transform 0.2s ease-out;
}

.menu-item.open>.menu-toggle::after {
   transform: rotate(90deg);
}

.menu-sub {
   display: none;
   position: relative;
   transition: size 0.4s ease-in;
}

.menu-sub .menu-item:first-child {
   margin-top: 0.3rem;
}

.menu-sub .menu-link {
   padding-left: 2.5rem;
}

.menu-sub .menu-sub .menu-link {
   padding-left: 3rem;
}

.menu-sub>.menu-item>.menu-link:before {
   content: "";
   position: absolute;
   left: 2rem;
   width: 0.375rem;
   height: 0.375rem;
   border-radius: 50%;
   background-color: #a7acb2;
}

.menu-sub .menu-sub>.menu-item>.menu-link:before {
   left: 2.5rem;
}

.menu-sub>.menu-item.active>.menu-link:before {
   background-color: var(--primary-color) !important;
}

.menu-item.open>.menu-sub {
   display: block;
}


/* tui grid */

.tui-grid-header {
   background-color: var(--primary-color);
   color: var(--text-color);
   font-weight: bold;
   text-align: center;
   border-bottom: 2px solid var(--secondary-color);
   border-radius: 10px 10px 0 0;
   overflow: hidden;
   font-family: var(--font-family);
   /* font-family: "Pretendard Variable", Pretendard, -apple-system, BlinkMacSystemFont, system-ui, Roboto, "Helvetica Neue"; */
}

.tui-grid-cell {
   font-size: 15px;
   color: #333;
   font-family: var(--font-family);
   /* font-family: "Pretendard Variable", Pretendard, -apple-system, BlinkMacSystemFont, system-ui, Roboto, "Helvetica Neue"; */
}


.tui-grid-check-input,
input[type="checkbox"] {
   width: 18px;
   height: 18px;
}

.tui-grid-cell.tui-grid-cell-row-header,
.tui-grid-cell.tui-grid-cell-header {
   background-color: #e8eaee;
   color: #2c2c30;

}

/* 모든 행에 동일한 스타일 적용 */
.tui-grid-row {
   background-color: #fff !important;
   /* 기본 배경색 */
   border-bottom: 1px solid #8f8f8f !important;
   /* 기본 테두리 색 */
}

/* 마지막 행에 추가 스타일 적용 */
.tui-grid-row:last-child {
   background-color: #fff !important;
   /* 마지막 행의 배경색 */
   border-bottom: 1px solid #8f8f8f !important;
   /* 마지막 행의 테두리 색 */
}




/* toast */

.toast {
   position: fixed;
   top: 45px;
   left: 50%;
   transform: translate(-50%, -50%);
   min-width: 300px;
   padding: 1rem;
   border-radius: 5px;
   font-size: 14px;
   color: #fff;
   z-index: 1000;
   opacity: 0;
   transition: opacity 0.3s, transform 0.3s;
}

.toast.show {
   opacity: 1;
   transform: translate(-50%, -50%);
}


.toast-success {
   background-color: #38a169;
}

.toast-warning {
   background-color: #dd6b20;
}

.toast-info {
   background-color: #3182ce;
}

.toast-error {
   background-color: #e53e3e;
}

#modal>div {
   width: 90%;
   height: 90%;
   background-color: white;
   border-radius: 8px;
   box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
   padding: 1rem;
   display: flex;
   flex-direction: column;
   overflow: auto;
}

#modal h2 {
   font-size: 1.5rem;
   font-weight: bold;
   margin-bottom: 1rem;
}

#modal p {
   flex-grow: 1;
   overflow: auto;
}

#modal button {
   align-self: flex-end;
}

.relative .fa-calendar-alt {
   pointer-events: none;
}


