.custom-drag-icon {
    background: linear-gradient(to right, #ff7e5f, #feb47b);
    color: #ffffff;
}

.new-button {
    font-size: 0.9rem;
    background-color: #0058A3;
    color: #ffc72c;
    padding: 2px;
    border-radius: 3px;
    margin: 2px 6px 2px 6px;
}

.day-header {
    background-color: #0058A3;
    color: #FFFFFF;
    font-weight: bold;
    text-transform: uppercase;
    padding: 10px;
    border-radius: 8px;
    margin: 3px 3px 3px 3px;

}