.custom-drag-icon {
    background-color: #0058A3;
    /* background: linear-gradient(to right, #ff7e5f, #feb47b); */
    color: #ffffff; 
}

.new-button {
    font-size: 0.9rem;
    background-color: #0058A3;
    color: #fff;
    padding: 2px;
    border-radius: 3px;
    margin: 2px 6px 2px 6px;
}

