.custom-drag-icon {
    background: linear-gradient(to right, #ff7e5f, #feb47b);
    color: #ffffff;
}

.new-button {
    font-size: 0.9rem;
    background-color: #0058A3;
    color: #ffcc00;
    padding: 2px;
    border-radius: 3px;
    margin: 2px 6px 2px 6px;
}

.day-header {
    border:1px solid #0058A3;
    color: #0058A3;
    text-transform: uppercase;
    padding: 5px;
    border-radius: 6px;
    margin: 3px 5px 3px 5px;

}