body {
    background-image: url('../img/bg.jpg');
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}



.tab-active {
    background: linear-gradient(to right, #4f46e5, #3b82f6);
    color: white;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
    transform: scale(1.05);
}

.tab-inactive {
    background: #e5e7eb;
    color: #4b5563;
    transition: all 0.3s ease-in-out;
}

.tab-button {
    padding: 0.5rem 1rem;
    border-radius: 0.375rem;
    cursor: pointer;
    font-weight: 500;
}

.btn-primary {
    background-color: #0058a3;
    color: white;
    padding: 0.5rem 1rem;
    border-radius: 0.375rem;
    font-weight: 500;
    text-align: center;
    display: inline-block;
    
}

.btn-primary:hover {
    background-color: #466acf;
    color: white;

    
}