.dropdown-scroll-container {
    height: calc(100vh - 30px);
    overflow-x: hidden;
    overflow-y: scroll;
    scrollbar-width: thin;
}

/* 모달 팝업 스타일 */
#mobileSurveyModal {
    /* display: none;  */
    position: fixed;
    inset: 0;
    background-color: rgba(0, 0, 0, 0.75);
    justify-content: center;
    align-items: center;
    z-index: 50;
}

/* 모바일 설문 컨텐츠 스타일 */
#mobileSurveyContent {
    width: 400px;
    height: 700px;
    padding: 10px;
    background-color: white;
    border-radius: 20px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    position: relative;
}

/* 상단 바 스타일 */
#mobileSurveyContent::before {
    content: '';
    display: block;
    width: 100%;
    height: 40px;
    background-color: #f1f1f1;
    border-bottom: 1px solid #ccc;
    position: absolute;
    top: 0;
    left: 0;
}

/* 하단 바 스타일 */
#mobileSurveyContent::after {
    content: '';
    display: block;
    width: 100%;
    height: 40px;
    background-color: #f1f1f1;
    border-top: 1px solid #ccc;
    position: absolute;
    bottom: 0;
    left: 0;
}

/* 컨텐츠 내부 패딩 */
#mobileSurveyContent .content {
    padding: 50px 20px 50px 20px;
    height: calc(100% - 100px);
    overflow-y: auto;
}