@import url('https://uicdn.toast.com/tui.pagination/latest/tui-pagination.css');
@import url('https://uicdn.toast.com/tui-grid/latest/tui-grid.css');

@import url('default.css');

.summary-row {
    font-weight: bold;
    background-color: #e1e1e1 !important;
    background: #e1e1e1 !important;
}

.tui-grid-summary-area {
    position: sticky;
    bottom: 0;
    z-index: 20;
    background: #e1e1e1 !important;
    background-color: #e1e1e1 !important;
}