.summary-row {
    font-weight: bold;
    background-color: #e1e1e1;
    background: #e1e1e1;
}

.tui-grid-summary-area {
    position: sticky;
    bottom: 0;
    z-index: 20;
    background: #e1e1e1;
    background-color: #e1e1e1;
}