@import url('default.css');

#app {
    display: flex;
    height: 100vh;
    
}

#taskArea {
    flex: 1;
    padding: 15px;
    background-color: #ffffff;
    overflow-y: auto;
    
    border-radius: 6px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    margin: 0px 5px 10px 0px;
}

#ganttArea {
    flex: 2;
    padding: 15px;
    background-color: #e9ecef;
    overflow-y: auto;
    border-radius: 6px;
    margin: 0px 0px 10px 5px;
}

#splitter {

    width: 5px;
    background-color: #aaa;
    overflow-y: auto;
    cursor: col-resize;
    
    margin: 10px 5px 10px 5px;
    /* z-index: 100; */
}

#taskForm input[type="text"],
#taskForm textarea,
#taskForm input[type="date"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ddd;
    border-radius: 8px;
    font-size: 14px;
    outline: none;
    transition: border-color 0.3s ease-in-out;
}

#taskForm input[type="text"]:focus,
#taskForm textarea:focus,
#taskForm input[type="date"]:focus {

    border-color: #0058a3;
}



#taskForm button {
    display: inline-block;
    padding: 10px 20px;
    background-color: #0058a3;
    color: #ffcc00;
    border: none;
    border-radius: 8px;
    font-size: 14px;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
}

#taskForm button:hover {
    background-color: #004080;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}


#taskForm {
    margin-bottom: 20px;
}

.gantt-table {
    width: 100%;
    border-collapse: collapse;
}

.gantt-table th,
.gantt-table td {
    border: 1px solid #ccc;
    padding: 8px;
    text-align: left;
    background-color: #f2f2f2;
}



.gantt-table .timeline-column {
    width: 70%;
    /* Set 70% width for the Timeline column */
    background-color: #ffffff;
    /* Set background to white */
}

.timeline {
    display: flex;
    background-color: #ffffff;
    padding: 5px;
    border-radius: 6px;
    border: 1px solid #ddd;
}

.timeline div {
    margin-right: 2px;
}

.timeline .highlight {
    background-color: #0058a3;
}

.task-list li {
    position: relative;
    background: white;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ddd;
    border-radius: 6px;
    cursor: grab;
    transition: background-color 0.2s ease;
}

.task-list li:active {
    cursor: grabbing;
}

.task-list li .drag-indicator {
    position: absolute;
    bottom: 5px;
    right: 5px;
    font-size: 12px;
    color: #888;
    display: flex;
    align-items: center;
    gap: 5px;
    font-weight: bold;
    background-color: #f2f2f2;
    padding: 2px 5px;
    border-radius: 3px;
}

.task-list li .drag-indicator i {
    font-size: 14px;
    color: #4299e1;
}


.task-list li:active {
    cursor: grabbing;
}

.task-list li.drag-over {
    background-color: #f2f2f2; /* Highlight drop target */
    border: 2px dashed #4299e1;
}


.task-list li button {
    position: absolute;
    top: 10px;
    right: 10px;
    background-color: transparent;
    border: none;
    color: red;
    font-weight: bold;
    font-size: 16px;
    cursor: pointer;
    outline: none;
}

.task-list li button:hover {
    color: darkred;
}

/* work.html 사용 */
.tab-button {
    padding: 0.5rem 1rem;
    border-radius: 0.375rem;
    cursor: pointer;
    font-weight: 400; 
    border: 1px solid #0058a3 !important;
}


#log-container {
    display: flex;
    justify-content: space-between;
    flex-wrap: nowrap;
}

