#hotel-container {
    display: flex;
    flex-direction: column;
    gap: 10px;
    overflow: hidden;
    width: 100%;
}

#control-panel {
    margin-bottom: 15px;
    display: flex;
    gap: 10px;
    align-items: center;
    background-color: #f9f9f9;
    padding: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
    width: 100%;
}

.floor {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 10px;
    height: calc(100vh - 200px);
    /* Adjust for control panel and other margins */

}

.room {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    cursor: pointer;
    background-color: #0058a3;
    /* IKEA Blue */
    color: #ffcc00;
    /* IKEA Yellow */
    border: 1px solid #ddd;
    box-sizing: border-box;
    position: relative;
    border-radius: 5px;
}

.room-title {
    flex: 0 0 15%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    font-size: 1.2em;
    background-color: #004080;
    color: #ffcc00;
    border-bottom: 1px solid #ddd;
}

.room-info {
    flex: 1;
    background-color: #ffffff;
    color: #000000;
    padding: 10px;
    overflow: auto;
}

.badge {
    position: absolute;
    top: 5px;
    left: 10px;
    background-color: green;
    color: white;
    padding: 3px 8px;
    border-radius: 3px;
    font-size: 12px;
    cursor: pointer;
    z-index: 10;
}

.badge:hover {
    background-color: darkgreen;
}

.modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
}

.modal-content {
    background: #fff;
    padding: 20px;
    border-radius: 5px;
    width: 400px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

.modal-content label {
    display: block;
    margin: 10px 0 5px;
}

.modal-content input {
    width: 100%;
    padding: 8px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 3px;
}

.modal-content button {
    margin-top: 10px;
    padding: 10px 20px;
    border: none;
    background-color: #007bff;
    color: #fff;
    cursor: pointer;
    border-radius: 3px;
}

.modal-content button:hover {
    background-color: #0056b3;
}

.delete-button {
    position: absolute;
    top: 5px;
    right: 10px;
    background: red;
    color: white;
    padding: 2px 8px;
    cursor: pointer;
    border-radius: 3px;
    font-size: 12px;
}

.delete-button:hover {
    background: darkred;
}

.reservation-item {
    position: relative;
    margin-bottom: 10px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #f9f9f9;
}